/* 1. RESET Y CENTRADO EN PANTALLA COMPLETA */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    min-height: 100vh;       /* Garantiza ocupar toda la pantalla sin cortar scroll */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    padding: 20px;
}
/* TARJETA PRINCIPAL DE LOGIN */
.login-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px; /* Ancho máximo ideal para login */
}

.login-title .register-title{
    text-align: center;
    color: #1e293b;
    font-size: 1.5em;
}

/*ESTRUCTURA DEL FORMULARIO */

.login-form .register-form{
    display: flex;
    flex-direction: column;
    gap: 15px; /* Separa los grupos de entrada automáticamente sin necesidad de <br> */

}

.form-group {
    display: flex;
    flex-direction: colum;
    gap: 5px;
}

.form-label {
    font-weight: 600;
    font-size: 0.9em;
    color: #475569;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 4px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.2s;
    margin-bottom: 10px;
}

.form-input:focus {
    border-color: #2563eb;
}

/*CHECKBOX "RECORDARME" */
.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9em;
    color: #475569;
    cursor: pointer;
}

/* BOTÓN DE INGRESO */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    margin-top: 5px;
}

.btn-primary { background-color: #3e5eb8; color: white; }
.btn-primary:hover { background-color: #053edb; }

/*ENLACE DE REGISTRO Y ALERTAS */

.register-link .login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #64748b;
}

.register-link .login-link a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;
}

.register-link .login-link a:hover {
    text-decoration: underline;
}

.alert-danger {
    background-color: #fee2e2;
    color: #991b1b;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.85em;
    margin-bottom: 15px;
}

.alert-danger ul {
    margin-left: 20px;
}